body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

span {
  text-decoration: underline;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.652rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

/* hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 0.5rem;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 5%;
} */
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}

p {
  color: #40514E;
  font-weight: bolder;
  font-size: 1.25rem
}

a:hover {
  color: #EAF6f6;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 30px;
  padding: 50px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-right: 40px;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  margin-top: 50px;
}

.middle-container {
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.profile-picture {
  width: 10%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.webdevelopment {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.learning {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  height: 3px;
  line-height: 3px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  width: 147px;
  font-size: 20px;
  font-weight: 400;
  padding: 27px;
  background-color: #11999E;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #11999E 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
